/* Banner design */
.banner {
  background-image: url(https://static.pexels.com/photos/4703/inside-apartment-design-home-large.jpg);
  background-size: cover;
  color: $gray-lighter;
  &-filter {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(83, 52, 109, 0.3));
    padding:200px 100px;
  }
  & h1 {
    font-family: $header-font;
    font-size: 50px;
    text-shadow: $text-shadow;
  }
  & h4 {
    font-family: $base-font;
    font-size: 25px;
    padding-bottom: 50px;
    text-shadow: $text-shadow;
  }
  & a {
    font-family: $base-font;
  }
}

.newsletter label{
  font-weight: lighter;
}


