/* Footer design */
.wrapper-footer {
  background-color: $gray-dark;
  color: $gray-lighter;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  li, a {
    font-size: 30px;
    &:hover {
      color: $yellow;
    }
  }
}
