<div class="wrapper-footer">
  <div class="wrapper-social-link">
    <ul class="list-inline">
      <li>
        <% link_to "https://www.youtube.com/?gl=FR" do %>
          <i class="fa fa-youtube"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://www.youtube.com/?gl=FR" do %>
          <i class="fa fa-instagram"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://www.youtube.com/?gl=FR" do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://www.youtube.com/?gl=FR" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="wrapper-sentence">
    <p>This is a Airbnb Home challenge @ LaWagon</p>
  </div>
</div>
